{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
{% include 'parciais/_head.html' %}
</head>

<body>

{% include 'parciais/_nav.html'%}

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {%block conteudo%}{%endblock%}
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.slim.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>
