{% extends 'base.html' %}
{%block content%}
 <h1 class="mt-5">My contact list</h1>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Last name</th>
              <th>Phone</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>


            {% for contact in contacts %}
              <tr>
                <td>{{contact.id}}</td>
                <td>
                  <a href="{% url 'views_contact' contact.id %}"> {{ contact.name }}</a>
                </td>
                <td>{{ contact.last_name }}</td>
                <td>{{ contact.phone_number }}</td>
                <td>{{ contact.category }}</td>
              </tr>
            {% endfor %}


          </tbody>
        </table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% for page in contacts.paginator.page_range %}
      {% if contacts.number == page %}
        <li class="page-item active"><a class="page-link" href="?p={{ page }}&word={{ request.GET.word }}">{{page}}</a></li>
      {% else %}
       <li class="page-item"><a class="page-link" href="?p={{ page }}&word={{ request.GET.word }}">{{page}}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{%endblock%}